<% content_for :right_column do %>
  <div id='page_save' class='box'>
    <label>
      <input type='checkbox'/>
      Published
    </label>
    <button></button>
  </div>
   render :partial => 'jangle/uploads/index' 
<% end %>

<%= form.inputs do %>
  <%= form.input :label, :input_html => { :class => 'slugify' } %>
  <div class='page_form_extras'>
    <%= form.input :slug, :input_html => { :class => 'slug' }, :hint => "Special slugs are 'index' and '404'" %>
    <%= form.input :layout_id, :collection => Jangle::Layout.options_for_select(current_site), :input_html => { 'data-page-id' => @page.id }, :label => 'Layout', :include_blank => false %>
    <%= form.input :parent_id, :collection => Jangle::Page.options_for_select(current_site, @page).unshift(['---- Select Parent Page ----', nil]), :include_blank => false %>
    <%= form.input :redirect, :as => :boolean %>
    <%= form.input :redirect_url %>
  </div>
  <div id='form_blocks'>
    <%= form.input :content, :as => :code, :class => 'html' %>
  </div>
<% end %>

<%= form.buttons do %>
  <%= form.input :published, :as => :boolean %>
  <%= form.commit_button %>
  <%= form.commit_button 'Preview', :button_html => { :name => 'preview', :id => 'jangle_page_preview' } %>
<% end %>